/*
 *Name: Jun Ikeda
 *UnityID: jikeda
 *Date: 04/07/23
 *Assignment: Guide Lab 4
 *Description: Guided Lab Assignment, about me page
 */
 
p {
	font-family: Times;
	font-size: 16px;
	color: #FFFFFF;
}

.table-border {
    border: 1px solid #FFFFFF;
}

#photo-resize {
    max-width: 250px;
    max-heigth: 300px;
}
